<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Cargo</title>
		<link rel ="stylesheet" type ="text/css" href ="static/railways.css">
	</head>

	<body style="background-color: #e1e1e1">

		<header class="logoHead">
			<img class="logo" src="https://cdn.discordapp.com/attachments/692038836292943873/1049467247367835718/railwayLOGO.png">    
		</header>

		<nav style="text-align: left">
			<ul>
				<li><a href= "/EmployeePortal"> Back</a></li>
			</ul>
		</nav>
		
		<form method="POST">
		  Type: <input name="type"/>
		  <br/><br/>
		  Weight: <input name="weight"/>
		  <br/><br/>
                  Owner: <input name="owner"/>
                  <br/><br/>
                  Car Number: <input name="carno"/>
                  <br/><br/>
                  Train ID: <input name="trainID"/>
                  <br/><br/>
		  <button type="submit">Submit</button>
		</form>

		<table>
		<tr><th>Cargo ID </th><th>Type</th><th>Weight</th><th>Owner</th><th>Car Number</th><th>Train ID</th></tr>	
		{% for row in data %}
		<tr>
			{% for d in row %}
			<td>{{d}}</td>
			{% endfor %}
		</tr>
		{% endfor %}
		</table> 
	</body>
</html>
