<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Cargo</title>
		<link rel ="stylesheet" type ="text/css" href ="static/railways.css">
	</head>

	<body style="background-color: #e1e1e1">

		<header class="logoHead">
			<img class="logo" src="https://cdn.discordapp.com/attachments/692038836292943873/1049467247367835718/railwayLOGO.png">    
		</header>

		<nav style="text-align: left">
			<ul>
				<li><a href= "/EmployeePortal"> Back</a></li>
			</ul>
		</nav>
		
		<form method="POST">
		  Track ID: <input type="number" name="track_ID" required />
                  <br/><br/>
                  Direction: <input type="text" name="direction" required />
                  <br/><br/>
			<div class = "msg" {{ msg }}></div>
		  <button type="submit">Submit</button>
		</form>
		<table>
		<tr><th>Track ID</th><th>Direction</th></tr>	
		{% for row in data %}
		<tr>
			{% for d in row %}
			<td>{{d}}</td>
			{% endfor %}
		</tr>
		{% endfor %}
		</table> 
	</body>
</html>

		<nav style="text-align: left">
			<ul>
				<li><a href= "/EmployeePortal"> Back</a></li>
			</ul>
		</nav>
		<form method="POST">
			<div class="text-block">
		  <div class="col-25"><label>Track ID: </label></div><div class="col-75"><input type="number" name="track_ID" required /></div>
          <div class="col-25"><label>Direction: </label></div><div class="col-75"><input type="text" name="direction" required /></div>
          <br/><br/>
		  <button type="submit">Submit</button>
		  </div>
		</form>
		<table>
		<tr><th>Track ID </th><th>Direction </th></tr>	
		{% for row in data %}
		<tr>
			{% for d in row %}
			<td>{{d}}</td>
			{% endfor %}
		</tr>
		{% endfor %}
		</table> 
	</body>
</html>