<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Route</title>
		<link rel ="stylesheet" type ="text/css" href ="static/railways.css">
	</head>
	
	<body style="background-color: #e1e1e1">

		<header class="logoHead">
			<img class="logo" src="https://cdn.discordapp.com/attachments/692038836292943873/1049467247367835718/railwayLOGO.png">    
		</header>

		<nav style="text-align: left">
			<ul>
				<li><a href= "/EmployeePortal"> Back</a></li>
			</ul>
		</nav>
		
		<table >
		<tr><th>Route ID</th><th>Stops</th></tr>	
		{% for row in data %}
		<tr>
			{% for d in row %}
			<td>{{d}}</td>
			{% endfor %}
		</tr>
		{% endfor %}
		</table>
	</body>
</html>